

body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #E5E5E5;
    width: 1200px;
    margin: 0px auto;
}

.main-content {
    background-color: #FFFFFF;
}

/* about styles */
.about {
    background-color: yellow;
}


/* projects styles */
.projects{
    background: chocolate;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px;

    /* margin: 100px 90px 300px 60px;

    margin: 50px;

    margin: 100px 50px; */
}

/* work styles */
.work {
    background: cyan;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px;

    /* padding: 100px 40px 50px 20px;

    padding: 50px;

    padding: 100px 50px; */

}

/* education styles */
.education {
    background: darkblue;
}

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
}